.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(216, 12%, 8%);
}
.card{
    height:300px;
    width: 280px;
    margin: 130px;
    border-radius: 20px;
    background-color:hsl(213, 19%, 18%);
    padding: 20px;
}
.rectangle{
    display: flex;
    justify-content: center;
    margin: 40px, 0;
}
/* text */
h1{
    color: white;
    font-family:'Overpass', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
}
.text1{
    color: hsl(216, 12%, 54%);
    font-family:'Overpass', sans-serif;
    font-size: 0.8rem;
}
.numrate{
    font-family:'Overpass', sans-serif;
    display: inline-block;
    font-size: 0.9rem ;
}
.button{
    color: white;
    font-family:'Overpass', sans-serif;
    height: 40px;
    display: flex;
    padding-bottom: 18px;
    margin-top: 40px;
    background-color: hsl(25, 97%, 53%);
    border-radius: 20px;
    font-size: 1.25rem ;
    transition: background-color .3s ;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.button:hover{
    background-color: white;
    color: hsl(216, 12%, 8%);
}


span.num{
    background:  hsl(216, 12%, 8%);
    border-radius: 50%;
    margin-left: 1.9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color:hsl(213, 19%, 18%);
    display: inline-block;
    font-weight: 500;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    transition: background-color 0.3s;
}
span.num:hover{
    background-color: gray;
    color: white;
}
.num-select{
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 50%;
    margin-left: 1.9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color:hsl(213, 19%, 18%);
    display: inline-block;
    font-weight: 500;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    transition: background-color 0.3s;
}

/* END SECTION */

#end{
    text-align: center;
}

#end h3{
    background-color: #272E36;
    border-radius: 100px;
    color:hsl(25, 97%, 53%);
    font-weight: 100;
    margin: 5px auto;
    padding: 5px 10px;
    width: max-content;
}
#end h6{
    font-weight: 100;
    padding-top: 3px;
}
#end h6{
    font-size: 1rem;
    margin: 20px;
}